html, body, #root, #root>div{
    height: 100%;
    width: 100%;
    background: #26547C;
}

.btn-primary {
    background-color: #26547C !important;
}

.div-center {
    border-radius: 10px;
    background-color: #FCFCFC;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 70%;
    max-height: 70%;
    overflow: auto;
    padding: 1em 2em;
    display: table;
}

.loginForm {
    min-width: 250px;
    width: 400px;
    height: 320px;
}

.signupForm {
    width: 700px;
    height: 420px;
}

.homeBox {
    width: 80%;
    height: 90%;
}

.profileBox {
    width: 80%;
    height: 90%;
}

.analyticsBox {
    width: 80%;
    height: 90%;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}

#primaryButton {
    margin-left: 25px;
    float: left;
}

#secondaryButton {
    margin-right: 25px;
    float: right;
}

@media screen and (max-width: 800px) {

    .card-body {
        font-size: 10px !important;
    }

    .card {
        max-width: 90%;
    }
    .homeTitle {
        font-size: 6vw;
    }

    .card-img-top {
        height: 200px !important;
    }

    footer {
        display: none !important;
    }
}

.card-title {
    text-align: center;
}

footer {
    background-color: lightblue;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}

.rounded-circle {
    margin-top: 25px;
    max-width: 50%;
}

.row {
    justify-content: center;
}

.profile {
    background-color: #26547C !important;
    height: 100%;
    width: 100%;
}

.profileContainer {
    background-color: #FCFCFC;
    border-radius: 10px;
}

.card-img-top {
    height: 25vw;
    object-fit: cover;
}

.profileContainer > .row {
    margin-top: 10px;
    text-align: center;
}

.btn-group {
    padding: 10px;
}

.homeTitle {
    text-align: center;
}

.ageChart {
    padding: 20px;
}

.list-group {
    margin-top: 10px;
    justify-content: center;
}

.deck {
    display: flex;
}

.deck > .card {
    width: 25%;
    margin: auto;
}
