.btn-primary {
    background-color: #26547C !important;
}

.back {
    background: #26547C;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.div-center {
    border-radius: 10px;
    background-color: #FCFCFC;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 70%;
    max-height: 70%;
    overflow: auto;
    padding: 1em 2em;
    display: table;
}

.loginForm {
    min-width: 250px;
    width: 400px;
    height: 320px;
}

.signupForm {
    width: 700px;
    height: 420px;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}

#group-buttons {
    width: 100%;
}

#primaryButton {
    margin-left: 25px;
    float: left;
}

#secondaryButton {
    margin-right: 25px;
    float: right;
}

.voteButton {
    display: flex;
    margin: auto;
}

.card-img-top {
    max-width: 800px;
    max-height: 500px;
}

@media screen and (max-width: 800px) {
    .card {
        display: flex;
        text-align: center;
        max-width: 75%;
        max-height: 400px;
    }

    .voteButton {
        display: flex;
        justify-content: center;
    }

    footer {
        display: none !important;
    }
}

.card-group-flex {
    display: flex;
}

footer {
    background-color: lightblue;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}
