html{
    height: 100%;
    width: 100%;
}

html > .aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.btn > a {
    color: #26547C !important;
}

button:first-of-type {
    color: whitesmoke;
    border: none;
}