.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form {

}

button:first-of-type {
    border: none;
}

.label {
    font-size: large;
}

.link {
    color: #26547C !important;
}

.backColor {
    background-color: #26547C !important;
}

.alignImage {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.image {
}
