.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

form {
    padding: 3%;
    padding-top: 2% !important;
    border-radius: 10px;
    min-width: 330px;
    min-height: 240px;
    max-width: 60%;
    max-height: 50%;
}

.btn > a {
    color: #26547C !important;
}

button:first-of-type {
    background-color: #26547C;
    color: whitesmoke;
    border: none;
}

.buttonsJustifier {
    display: flex;
    justify-content: center;
}
